# OS
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
*.local

# Vite
.vite/

# IDE
.idea/
.vscode/
*.iml

# Java
**/target/
*.class

# Env
.env
.env.*

# Temporary
/tmp/
